body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
section
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
h2{
    margin-bottom: 30px;
}
.peter{
    color: orange;
}
.half-width{
    width: 40%;
    height: 520px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.frist-image{
    width: 100%;

}
.anchor-button{
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    
}
